$primary-color: #2b3a42;
$secondary-color: #547b8f;
$dark-bg: hsl(0, 0%, 8%);
$fx-color: #ff8f00;
$padding: 0.7rem;
$subtle-text: #43687c;
$netflix-red: hsl(357, 92%, 47%);
$smooth-white: #fdfffc;
$smooth-black: #232b2b;
$smooth-grey: #434d4d;
$smoother-grey: #949b9b;
$smooth-black-darker: #0e1111;
$brand-color-1: hsl(195 78% 37%);
$brand-color-2: hsl(85 57% 81%);
$brand-color-mix: #6eb3ae;
