.header {
    padding: 0 2rem;
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div {
            display: flex;
            align-items: center;
            max-width: 1440px;
            padding-top: 2rem;
            & a {
                color: $smooth-white;
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 2.15rem;
            }
            & img {
                max-width: 200px;
            }
        }
        & nav a {
            color: $smooth-white;
        }
        & nav a:nth-child(2)::before,
        nav a:nth-child(2)::after {
            content: "|";
            width: 5px;
            height: 100%;
            color: $smooth-white;
            padding: 0 1rem;
        }
    }
}
